<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController01</string>
			<key>title</key>
			<string>图层树</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController02</string>
			<key>title</key>
			<string>寄宿图-属性</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController03</string>
			<key>title</key>
			<string>使用contentsRect拼合图片</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController04</string>
			<key>title</key>
			<string>使用contentsCenter拉伸图片</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController05</string>
			<key>title</key>
			<string>实现CALayerDelegate绘制图层</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController06</string>
			<key>title</key>
			<string>使用anchorPoint实现时钟</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController07</string>
			<key>title</key>
			<string>使用zPosition改变图层显示顺序</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController08</string>
			<key>title</key>
			<string>使用containsPoint判断被点击的图层</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController09</string>
			<key>title</key>
			<string>使用hitTest判断被点击的图层</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController10</string>
			<key>title</key>
			<string>使用cornerRadius实现圆角</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController11</string>
			<key>title</key>
			<string>图层边框</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController12</string>
			<key>title</key>
			<string>额外的视图解决阴影剪裁问题</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController13</string>
			<key>title</key>
			<string>不规则阴影</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController14</string>
			<key>title</key>
			<string>图层蒙版</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController15</string>
			<key>title</key>
			<string>LCD时钟</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController16</string>
			<key>title</key>
			<string>使用shouldRasterize解决组透明</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController17</string>
			<key>title</key>
			<string>affineTransform对图层旋转45°</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController18</string>
			<key>title</key>
			<string>混合变换</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController19</string>
			<key>title</key>
			<string>绕Y轴旋转图层</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController20</string>
			<key>title</key>
			<string>透视效果</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController21</string>
			<key>title</key>
			<string>sublayerTransform</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController22</string>
			<key>title</key>
			<string>绕Z轴做相反的旋转变换</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController23</string>
			<key>title</key>
			<string>绕Y轴做相反的旋转变换</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController24</string>
			<key>title</key>
			<string>创建一个正方体</string>
		</dict>
	</array>
</array>
</plist>
