<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController01</string>
			<key>title</key>
			<string>图层树</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController02</string>
			<key>title</key>
			<string>寄宿图-属性</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController03</string>
			<key>title</key>
			<string>使用contentsRect拼合图片</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController04</string>
			<key>title</key>
			<string>使用contentsCenter拉伸图片</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController05</string>
			<key>title</key>
			<string>实现CALayerDelegate绘制图层</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController06</string>
			<key>title</key>
			<string>使用anchorPoint实现时钟</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController07</string>
			<key>title</key>
			<string>使用zPosition改变图层显示顺序</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController08</string>
			<key>title</key>
			<string>使用containsPoint判断被点击的图层</string>
		</dict>
		<dict>
			<key>viewControllerName</key>
			<string>ViewController09</string>
			<key>title</key>
			<string>使用hitTest判断被点击的图层</string>
		</dict>
	</array>
</array>
</plist>
